body {
    margin: 2em 4em;
}

h1 {
    font-size: 4em;
    font-family: 'Poiret One', cursive;
}
img {
    width: 50%;
    margin-bottom: 60px;
}
.imageholder {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.image-holder{
    display: flex;
    flex-direction: column;
}

.image-with-caption{
    display: flex;
    flex-direction: row;
    align-items: space-between;
}

.image-with-caption .caption{
    flex-grow: 1;
}

.image-with-caption img{
    width: 100%;
}
.image-with-caption .image {
    width: 50%;
}

.image-with-caption .caption h2 {
    font-family: 'Shrikhand', cursive;
    font-size: 2em;
    margin-bottom: 0;
}
.image-with-caption .caption p {
    font-family: 'PT+Sans+Caption', sans-serif;
    font-size: large;
    margin-top: .5em;
}